<!--
  Generated template for the Monitor page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>monitor</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    hostname :{{status.basic.hostname}}
    <div class="col" align="middle">
        <!--<i class="icon ion-home"></i>-->
        <ion-icon name="home"></ion-icon>
        <!--<font face="verdana" color="green">hostname : {{data.basic.hostname}}</font>-->
    </div>
    <!--<div class="item item-icon-left" ng-click="">
        <div class="row">
            <div class="col" align="middle">
                <i class="icon ion-home"></i>
                <font face="verdana" color="green">hostname : {{data.basic.hostname}}</font>
            </div>
            <div class="col">
                <font size="4" color="blue">uptime : {{data.basic.date}}</font>
            </div>
        </div>
    </div>
    <div class="item item-icon-left" ng-click="btncluster('basic.voltage')">
        <div class="pic" style="position:relative">
            <div class="ip" align="middle">
                <i class="ion-earth" style="font-size: 50px !important;"></i><br> 192.168.12.2
            </div>
            <img src="img/line.png" height="10px" width="200px" style="">
            <i class="ion-wifi" style="font-size: 50px !important;"></i>
            <img src="img/line.png" height="10px" width="200px" style="">
            <div class="pic" style="position:relative">

                <i class="ion-iphone" style="font-size: 50px !important;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">Data</div>
            <div class="col"><i class="ion-ios-cloud-download"></i>{{data.network.eth0.rx_packet}}</div>
            <div class="col"><i class="ion-ios-cloud-upload"></i>{{data.network.eth0.tx_packet}}</div>
        </div>
        <div class="row">
            <div class="col">Speed</div>
            <div class="col"><i class="ion-ios-cloud-download"></i>{{data.network.eth0.rx_packet}} KB/s</div>
            <div class="col"><i class="ion-ios-cloud-upload"></i>{{data.network.eth0.tx_packet}} KB/s</div>
        </div>
    </div>
    <div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                Free Space
            </div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                Used
            </div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                Avail
            </div>
        </div>
    </div>-->

</ion-content>