<ion-header>
    <ion-navbar>
        <ion-segment>
            <ion-segment-button value="new">
                All
            </ion-segment-button>
            <ion-segment-button value="hot">
                Bookmarks
            </ion-segment-button>
        </ion-segment>
        <ion-buttons start>
            <button ion-button icon-only (click)="logout()">
                 <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>

        <!--<ion-title>Home</ion-title>-->

    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-searchbar [(ngModel)]="getItems($event)" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"> </ion-searchbar>-->
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <!--<button (click)="monitor(item)" *ngFor="let item of rpi">
            {{ item }}
         </button>-->
        <ion-item-sliding (click)="monitor(item)" *ngFor="let item of rpi">
            <ion-item>
                <!--<button ion-item (click)="monitor(item)" *ngFor="let item of rpi"> -->
                <!--<ion-thumbnail item-left>
                    <img src="assets/img/thumbnail-rpi.jpg" width="75%" height=auto>
                </ion-thumbnail>-->
                <ion-avatar item-left>
                    <img src="assets/img/thumbnail-rpi.jpg">
                </ion-avatar>
                <h2 color='primary'>{{ item | uppercase}}</h2>
                <!--</button>-->
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="prompt(item)">
                    <i class="fa fa-terminal" aria-hidden="true"></i>prompt
                </button>
                <button ion-button color="danger" (click)="shutdown(item)">
                    <!--<i class="fa fa-power-off" aria-hidden="true"></i>-->
                    <ion-icon name="power"></ion-icon>shutdown
                </button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button (click)="favorite(item)"><ion-icon name="bookmark"></ion-icon>bookmark</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll>
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <button ion-button [navPush]="aboutPage">Go To About</button>
</ion-content>