<ion-header>
    <ion-navbar>
        <ion-buttons start>

        </ion-buttons>
        <ion-buttons start>
            <button ion-button icon-only (click)="logout()">
                 <ion-icon name="contact"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Home</ion-title>

        <ion-searchbar [(ngModel)]="getItems" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"> </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <!--<button (click)="monitor(item)" *ngFor="let item of rpi">
            {{ item }}
         </button>-->

        <ion-item (click)="monitor(item)" *ngFor="let item of rpi"> <button>
            {{ item }}
            </button>
        </ion-item>


    </ion-list>
    <button [navPush]="aboutPage">Go To About</button>
</ion-content>